.header{
    position: relative;

    &-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }
    &-wrapper{
        width: 100%;
        max-width: 1920px;
        padding: 0 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        width: 200px;
    }
    &-logo svg{
        width: 100%;
    }
    &-navigation__list{
        display: flex;
        gap: 75px;
        align-items: center;
    }
    &-navigation__link{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;

        color: rgba(0, 0, 0, 0.75);
        text-decoration: none;
    }
    &-navigation__call-to-action{
        background-color: #3F97E9;
        border-radius: 8px;
        height: 40px;
        padding: 8px 11px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}